.todoContatiner{
    flex-direction: column;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

.input{
   border-radius:0.5rem;
   height: 1rem;
   width: 10rem;
}
